{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
        {% if publicacion.fecha_publicacion %}
            <div class="date">
                {{ publicacion.fecha_publicacion }}
        {% endif %}
                <a class="btn btn-default" href="{% url 'editar_publicacion' pk=publicacion.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        <h1>{{ publicacion.titulo }}</h1>
        <p>{{ publicacion.texto|linebreaksbr }}</p>
    </div>
{% endblock %}